.container.about-page {
  width: 800px;
  margin: auto;
  header {
    // border: solid 1px blue;
    align-items: center;
    width: 100%;
    nav {
      //   border: solid 1px red;
      display: flex;
      align-items: center;
      img {
        // border: solid 1px red;
        height: 40px;
        width: 157px;
        margin: 0px;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        width: 100%;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: black;
            // border: solid 1px red;
            &:hover {
              color: #c08243;
            }
            &:active {
            }
            &:focus {
            }
          }
        }
      }
    }
    img {
      margin-top: 1.838%;
      width: 100%;
    }
  }
  .test {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-sect {
      //   border: solid green 1px;
      display: flex;
      flex-direction: column;
      border-bottom: 1.2px dotted black;
      margin: 0 auto 25px;
      align-items: center;
      justify-content: center;
    }
    h2 {
      //   border: 1px solid red;
      margin-bottom: 0;
      width: 93%;
    }
    p {
      //   border: 1px solid red;
      width: 93%;
      margin-bottom: 20px;
    }
  }
  .middle-sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // border: solid royalblue 1px;

    .four-div {
      //   border: solid 1px red;
      width: 45%;
      margin: 12px 7px;
      border-bottom: 1px dotted black;
      img {
        width: 100%;
      }
      h2 {
        margin: 5px auto;
      }
      p {
        margin: 4px auto 15px;
      }
      button {
        padding: 7px 15px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 12px;
        font-size: 1.07rem;
        &:hover {
          background-color: peachpuff;
          color: maroon;
        }
      }
    }

    .places-work,
    .collab {
      margin-top: 35px;
    }
  }

  .btm-sect {
    // margin-top: 25px;
    width: 96%;
    margin: 25px auto;
    h2 {
    }
    p {
    }
  }
  footer {
    nav {
      background-color: black;
      padding: 17px;
      margin-bottom: 0px;
      a {
        margin: auto 20px;
        color: white;
        text-decoration: none;
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
    }
  }
}
